.PostShare{
    display: flex;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
}
.profileImg{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}
.PostShare>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.PostShare>div>input{
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    border: none;
}
.PostShare>div>input:focus{
    outline: none;
    border: none;
}
.PostOptions{
    display: flex;
    justify-content: space-around;
}
.Option{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-size: 12px;
}
.Option:hover{
    cursor: pointer;
}
.share-btn{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}
.PreviewImg{
    position: relative;
}
.PreviewImg>svg{
    color: #F96633;
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    cursor: pointer;
}
.PreviewImg>img{
    width: 100%;
    max-height: 20rem;
    object-fit: contain;
    border-radius: 0.5rem;
}

.PreviewVdo{
    position: relative;
}
.PreviewVdo>svg{
    color: #F96633;
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    cursor: pointer;
}
.PreviewVdo>video{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.PreviewVdo>video:focus{
    outline: none;
    border:none;
}