.ProfileInfo{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--cardColor);
}
.InfoHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.InfoHead>svg{
    height: 1.2rem;
    width:2rem;
    cursor: pointer;
}
.logout-btn{
    height: 2rem;
    width: 7rem;
    margin-top: 6rem;
    align-self: flex-end;
}